<a href="https://colab.research.google.com/github/aditeyabaral/kepler-exoplanet-analysis/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [9]:
import pandas as pd
import numpy as np
import pprint
import re

# Initialising libraires

In [2]:
pp = pprint.PrettyPrinter(indent = 3)

# Loading DataFrame

[Dataset URL](https://www.kaggle.com/nasa/kepler-exoplanet-search-results)<br>
[Link to Metadata](https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html)<br>
[Column Name Metadata](https://exoplanetarchive.ipac.caltech.edu/docs/API_keplerstellar_columns.html)

In [3]:
df = pd.read_csv("kepler-data.csv")
print(df.shape)
df.head()

(9564, 50)

   rowid     kepid kepoi_name  ...         ra        dec koi_kepmag
0      1  10797460  K00752.01  ...  291.93423  48.141651     15.347
1      2  10797460  K00752.02  ...  291.93423  48.141651     15.347
2      3  10811496  K00753.01  ...  297.00482  48.134129     15.436
3      4  10848459  K00754.01  ...  285.53461  48.285210     15.597
4      5  10854555  K00755.01  ...  288.75488  48.226200     15.509

[5 rows x 50 columns]

# Finding Missing Values

In [4]:
nan_columns = df.isnull().sum()
nan_columns = {col:count for col, count in nan_columns.items() if count >0}

In [5]:
pp.pprint(nan_columns)

{  'kepler_name': 7270,
   'koi_depth': 363,
   'koi_depth_err1': 454,
   'koi_depth_err2': 454,
   'koi_duration_err1': 454,
   'koi_duration_err2': 454,
   'koi_impact': 363,
   'koi_impact_err1': 454,
   'koi_impact_err2': 454,
   'koi_insol': 321,
   'koi_insol_err1': 321,
   'koi_insol_err2': 321,
   'koi_kepmag': 1,
   'koi_model_snr': 363,
   'koi_period_err1': 454,
   'koi_period_err2': 454,
   'koi_prad': 363,
   'koi_prad_err1': 363,
   'koi_prad_err2': 363,
   'koi_score': 1510,
   'koi_slogg': 363,
   'koi_slogg_err1': 468,
   'koi_slogg_err2': 468,
   'koi_srad': 363,
   'koi_srad_err1': 468,
   'koi_srad_err2': 468,
   'koi_steff': 363,
   'koi_steff_err1': 468,
   'koi_steff_err2': 483,
   'koi_tce_delivname': 346,
   'koi_tce_plnt_num': 346,
   'koi_teq': 363,
   'koi_teq_err1': 9564,
   'koi_teq_err2': 9564,
   'koi_time0bk_err1': 454,
   'koi_time0bk_err2': 454}

# Replacing NaN Values

There are two broad types of NaN values present.
* NaN in Error Values - These include the positive and negative error in estimating attributes
* NaN in Measurable Attributes - These include missing values in measuring attributes

## Replacing NaN in Error Values

### Finding Error Attributes with NaNs

* kepler_name: Kepler number name in the form "Kepler-N," plus a lower-case letter, identifying the planet. **In general, these numbers are easier to remember than the corresponding KOI or KIC/KepID designations and are intended to clearly indicate a class of objects that have been CONFIRMED or validated as planets**—a step up from the planet candidate designation. Basically, a simpler KEPOI NAME/ID but only for CONFIRMED planets

* koi_score: **A value between 0 and 1 that indicates the confidence in the KOI disposition**. For CANDIDATEs, a higher value indicates more confidence in its disposition, while for FALSE POSITIVEs, a higher value indicates less confidence in that disposition. 

* koi_impact:	Impact Parameter - The sky-projected distance between the center of the stellar disc and the center of the planet disc at conjunction, normalized by the stellar radius. 

* koi_depth: **Transit Depth** - The fraction of stellar flux lost at the minimum of the planetary transit.  

* koi_prad: The **radius** of the planet.

* koi_teq: Approximation for the **equilibrium temperature** of the planet. 

* koi_insol: **Insolation flux is another way to give the equilibrium temperature**. It depends on the stellar parameters (specifically the stellar radius and temperature), and on the semi-major axis of the planet.

* koi_model_snr: **Transit Signal to Noise** - Transit depth normalized by the mean uncertainty in the flux during the transits.

* koi_tce_plnt_num: **TCE Planet Number** federated to the KOI

* koi_tce_delivname: **TCE Delivery Name** corresponding to the TCE data federated to the KOI.

* koi_steff: **Stellar Effective Temperature** - The photospheric temperature of the star.

* koi_kepmag: **Kepler-band magnitude**
* koi_srad: **Stellar Radius** - The photospheric radius of the star 
* koi_slogg: **Stellar Surface Gravity** - The base-10 logarithm of the acceleration due to gravity at the surface of the star.

In [8]:
pp.pprint(list(nan_columns.keys()))

[  'kepler_name',
   'koi_score',
   'koi_period_err1',
   'koi_period_err2',
   'koi_time0bk_err1',
   'koi_time0bk_err2',
   'koi_impact',
   'koi_impact_err1',
   'koi_impact_err2',
   'koi_duration_err1',
   'koi_duration_err2',
   'koi_depth',
   'koi_depth_err1',
   'koi_depth_err2',
   'koi_prad',
   'koi_prad_err1',
   'koi_prad_err2',
   'koi_teq',
   'koi_teq_err1',
   'koi_teq_err2',
   'koi_insol',
   'koi_insol_err1',
   'koi_insol_err2',
   'koi_model_snr',
   'koi_tce_plnt_num',
   'koi_tce_delivname',
   'koi_steff',
   'koi_steff_err1',
   'koi_steff_err2',
   'koi_slogg',
   'koi_slogg_err1',
   'koi_slogg_err2',
   'koi_srad',
   'koi_srad_err1',
   'koi_srad_err2',
   'koi_kepmag']