<a href="https://colab.research.google.com/github/aditeyabaral/kepler-exoplanet-analysis/blob/master/src/Prediction_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd

# Loading Dataframe

In [2]:
df = pd.read_csv("[CLEANED]kepler-data.csv")
df.drop(columns = ["rowid", "Unnamed: 0"], inplace=True)
print(df.shape)
df.head()

(9110, 46)

      kepid kepoi_name koi_disposition  ...         ra        dec  koi_kepmag
0  10797460  K00752.01       CONFIRMED  ...  291.93423  48.141651      15.347
1  10797460  K00752.02       CONFIRMED  ...  291.93423  48.141651      15.347
2  10811496  K00753.01  FALSE POSITIVE  ...  297.00482  48.134129      15.436
3  10848459  K00754.01  FALSE POSITIVE  ...  285.53461  48.285210      15.597
4  10854555  K00755.01       CONFIRMED  ...  288.75488  48.226200      15.509

[5 rows x 46 columns]

# Selecting Columns for Prediction

In [3]:
ALL_COLUMNS = df.columns
ERROR_COLUMNS = [col for col in ALL_COLUMNS if "err" in col]
EXCLUDE = ["kepid", "kepoi_name", "koi_score", "koi_disposition", "koi_pdisposition", "koi_tce_delivname", "koi_tce_plnt_num"] + ERROR_COLUMNS
TO_USE = list(set(ALL_COLUMNS) - set(EXCLUDE))

In [4]:
print(len(TO_USE))
df[TO_USE].head()

19

   koi_model_snr  koi_kepmag  koi_fpflag_nt  ...  koi_srad  koi_fpflag_ec        dec
0           35.8      15.347              0  ...     0.927              0  48.141651
1           25.8      15.347              0  ...     0.927              0  48.141651
2           76.3      15.436              0  ...     0.868              0  48.134129
3          505.6      15.597              0  ...     0.791              0  48.285210
4           40.9      15.509              0  ...     1.046              0  48.226200

[5 rows x 19 columns]

# Extracting Dataframe Subset

We extract only those rows which are either positive or negative examples i.e. the `disposition value` is `CANDIDATE`

In [5]:
subset_df = df[df["koi_disposition"] != "CANDIDATE"]
print(subset_df.shape)
subset_df.head()

(6939, 46)

      kepid kepoi_name koi_disposition  ...         ra        dec  koi_kepmag
0  10797460  K00752.01       CONFIRMED  ...  291.93423  48.141651      15.347
1  10797460  K00752.02       CONFIRMED  ...  291.93423  48.141651      15.347
2  10811496  K00753.01  FALSE POSITIVE  ...  297.00482  48.134129      15.436
3  10848459  K00754.01  FALSE POSITIVE  ...  285.53461  48.285210      15.597
4  10854555  K00755.01       CONFIRMED  ...  288.75488  48.226200      15.509

[5 rows x 46 columns]

# Obtaining X and y

We also need to encode the categorical labels
```
CONFIRMED - 1
FALSE POSITIVE - 0
```

In [6]:
X = subset_df[TO_USE].values
y = subset_df["koi_disposition"].apply(lambda x: x=='CONFIRMED').astype(int).values